<div class="container">
  <div class="title"><h1>{{type | uppercase}}</h1></div>
  <div class="sections">
    <div class="left">
      <div class="top">
        <app-filtres (filtresEvent)="onFiltresEvent($event)"></app-filtres>
      </div>
      <div class="bottom">
        <app-liste-vols [vols]="vols" (volEvent)="onClickVol($event)"></app-liste-vols>
      </div>
    </div>
    <div class="right">
      <mat-slide-toggle [checked]="checked" (toggleChange)="switchCheked()" >Afficher photo</mat-slide-toggle>
      <app-liste-passagers [afficherPhoto]="checked" [passagers]="passagers" ></app-liste-passagers>
    </div>
  </div>
</div>
